.scene {
    display: none;
}

.active {
    display: block;
}

#choose_player,
#look_stats,
#look_market,
#player,
#enemigos {
    text-align: center;
}

#marketItems,
#purchasedItems,
#playerEquipamiento {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 10px;
    margin: 4px 10%;
}

#marketItems div,
#purchasedItems div,
#playerEquipamiento div {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    margin-top: 5px;
    margin-bottom: 5px;
}

#marketItems img {
    margin-top: 5px;
}


@media (width < 640px) {
    #marketItems {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

main {}

main>div {
    height: 100%;
}

footer,
header {
    display: flex;
    justify-content: center;
}